.colorPaletteWrapper {
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.colorPaletteName p {
  font-size: 14px;
  font-family: "DM sans", sans-serif;
  color: white;
}

.colorPaletteColors {
  display: flex;
  gap: 10px;
}

.colorBlock {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
